// Settings: Fonts
//
// Font stacks are stored here in array.
//
// Styleguide 1.3

$fonts: (
  body: (
    Helvetica,
    Arial,
    sans-serif
  ),
  heading: (
    "Raleway Slab",
    Helvetica,
    Arial,
    sans-serif
  )
);
